.container {
  width: 900px;
  max-width: 100%;
  height: auto;
  display: grid;
  place-items: center;
}
.container img {
  max-width: 700px;
  width: 100%;
  height: auto;
  filter: drop-shadow(1px 2px 3px grey);
  margin-top: 50px;
}

.container span {
  color: grey;
}
