<div class="row shoppingListContainer">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <div class="spinner-border text-info loader" role="status" *ngIf="isFetching && ingredients.length <= 0">
      <span class="sr-only">Loading...</span>
    </div>
    <ul class="list-group" *ngIf="ingredients.length>0 && !isFetching">
      <a class="list-group-item" style="cursor: pointer" *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)">
        {{ ingredient.dishName | shorten }} ({{ ingredient.dishPrice }})
      </a>
    </ul>
    <div class="text-info" *ngIf="ingredients.length === 0 && !isFetching">
      <span class="load">No more post.....</span>
    </div>
  </div>
</div>
